* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2rem;

  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
